body {
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial;
}

.page {
    inset: 0;
    position: absolute;
    background: url(../assets/icecream.jpg)no-repeat;
    background-size: cover;
}


.icon {
    width: 6%;
}

/* .blur {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    inset: 0;
} */

.form-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 550px;
    background-color: rgb(218,24,163, 0.8);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 12px;
    margin-inline: auto;
    margin-top: 220px;
}

h2 {
    font-size: 50px;
    color: aliceblue;
    text-align: center;

}

.input {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid white;
}

.input label {
    position: absolute;
    color: white;
    top: 10%;
    left: 5px;
    margin-bottom: -10px;
    pointer-events: none;
    color: white;
    transition: 0.5s;

}

input:focus~label,
input:valid~label {
    top: -20px;
}

.input input {
    width: 100%;
    height: 20px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 0 35px 0 5px;
    color: white;
}

.icon {
    position: absolute;
    right: 8px;
    color: white;
    top: -10px;
}

.remember {
    margin: -15px 0 15px;
    color: white;
    display: flex;
    justify-content: center;

}

.remember label input {
    margin-right: 3px;
}

.remember a {
    color: white;
    text-decoration: none;
}

.remember label a:hover {
    text-decoration: underline;
}

.register-button {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
}

.register-button:hover {
    background-color: rgb(218,24,163);
    color: white;
}

.login-button {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}

.login-button:hover {
    /* opacity: 0.7;
     */
    background-color: rgb(218,24,163);
    color: white;
}

.register {
    font-size: 20px;
    color: white;
    text-align: center;
    margin-top: 10px;


}

.register p a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    margin-left: 10px;
}

.register p a:hover {
    text-decoration: underline;
}

.register {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;

}

.login2-button {
    width: 40%;
    height: 40px;
    border-radius: 40px;
    background: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}

.login2-button:hover {
    /* opacity: 0.7;
     */
    background-color: rgb(218,24,163);
    color: white;
}

.now {
    margin-top: -10px;
}